<div class="property">
    <div class="slideshow">
        <img src="<%= cartRental.imageUrl %>" alt="<%= cartRental.headline %>">
    </div>
    <h3><%= cartRental.headline %></h3>
    <div class="property-details">
        <div class="property-card">
            <p>City</p>
            <strong><%= cartRental.city %></strong>
        </div>
        <div class="property-card">
            <p>Province</p>
            <strong><%= cartRental.province %></strong>
        </div>

        <div class="property-card">
            <p>Price Per Night</p>
            <strong>C$<%= cartRental.pricePerNight %></strong>
        </div>
    </div>
</div>
<div class="cart-controls">
    <form action="/cart/update/<%= cartRental.id %>" method="post">
        <label for="numNights">Number of Nights:</label>
        <input type="number" name="numNights" value="<%= cartRental.days %>" min="1">
        <button type="submit">Update</button>
    </form>

    <form action="/cart/remove/<%= cartRental.id %>" method="post">
        <button type="submit">Remove from Cart</button>
    </form>
    </div>

    <div>
        <p>Total Price: <%= cartRental.pricePerNight * cartRental.days %></p>
    </div>
</div>
