<div class="property">
    <div class="slideshow">
        <img src="<%= rental.imageUrl %>" alt="<%= rental.headline %>">
    </div>
    <h3><%= rental.headline %></h3>
    <div class="property-details">
        <div class="property-card">
            <p>Sleeps</p>
            <strong><%= rental.numSleeps %></strong>
        </div>
        <div class="property-card">
            <p>Bedrooms</p>
            <strong><%= rental.numBedrooms %></strong>
        </div>
        <div class="property-card">
            <p>Bathrooms</p>
            <strong><%= rental.numBathrooms %></strong>
        </div>
    </div>
    <p class="price-per-night"><%= rental.pricePerNight %></p>
</div>
